/*  */
:root{
   /*  */
   --cl:#DA266F;
   --cl1: rgba(218,38,111,.1);
	--cl2: rgba(218,38,111,.2);
	--cl3: rgba(218,38,111,.3);
	--cl4: rgba(218,38,111,.4);
	--cl5: rgba(218,38,111,.5);
	--cl6: rgba(218,38,111,.6);
	--cl7: rgba(218,38,111,.7);
	--cl8: rgba(218,38,111,.8);
	--cl9: rgba(218,38,111,.9);

   /*  */
   --cm:#DF6C98;
}



/*  */
.bl_c{max-width:480px}
.btn{}
.btn_whatsapp{
   -webkit-box-shadow: 0px 0px 10px -4px var(--whatsapp);
	box-shadow: 0px 0px 10px -4px var(--whatsapp);
}
.btn_telegram{
   background: #0088cc;
   -webkit-box-shadow: 0px 0px 10px -4px #0088cc;
	box-shadow: 0px 0px 10px -4px #0088cc;
}




/*  */
.a1{
   position: relative;
   width: 100%;
}
.a1_c{
   position: relative;
   width: 100%;
}
.a1_t{
   position: relative;
   width: 100%;
   padding-top: 40px;
}
.a1_t h1{
   position: relative;
   width: 100%;
   text-align: center;
   font-weight: 400;
   font-size: 76px;
}
@media(max-width:425px){.a1_t h1{font-size:72px}}
@media(max-width:390px){.a1_t h1{font-size:66px}}
@media(max-width:375px){.a1_t h1{font-size:62px}}
@media(max-width:360px){.a1_t h1{font-size:58px}}
@media(max-width:320px){.a1_t h1{font-size:48px}}

.a1_t h6{
   position: relative;
   width: 100%;
   margin-top: 20px;
   text-align: center;
   font-size: 22px;
   font-weight: 500;
}
@media(max-width:425px){.a1_t h6{font-size:19px}}
@media(max-width:390px){.a1_t h6{font-size:18px}}
@media(max-width:375px){.a1_t h6{font-size:17px}}
@media(max-width:360px){.a1_t h6{font-size:16px}}
@media(max-width:320px){.a1_t h6{font-size:14px}}



.a1_i{
   position: relative;
   width: 100%;
   height: 480px;
   margin-top: 40px;
}
@media(max-width:425px){.a1_i{height:425px}}
@media(max-width:390px){.a1_i{height:390px}}
@media(max-width:375px){.a1_i{height:375px}}
@media(max-width:360px){.a1_i{height:360px}}
@media(max-width:320px){.a1_i{height:320px}}


.a1_ia, .a1_ic{
   position: relative;
   width: 100%;
   height: 100%;
   background-size: auto 100%;
   background-position: center center;
   background-repeat: no-repeat;
   background-image: url('/assets/img/bag/Curves_1075x-min.png');
}
.a1_ia{
   position: absolute;
   left: 0;
   right: 0;
   bottom: 10px;
   margin: auto;
   width: calc(100% - 40px);
   height: calc(100% - 40px);
   background-size: 100% auto;
   animation: rt 15s linear infinite;
   background-image: url('/assets/img/bag/9730759_xl__1_-min-r.png');
}


.a1_b{
   position: relative;
   width: 100%;
   background: linear-gradient(0deg, var(--cl) -15%, var(--cm) 115%);
   padding: 40px;
   border-radius: 30px;
   margin-top: -30px;
   -webkit-box-shadow: 0px 0px 10px -4px var(--cl);
	box-shadow: 0px 0px 10px -4px var(--cl);
}
@media(max-width:375px){.a1_b{padding:30px}}
@media(max-width:320px){.a1_b{padding:20px;border-radius:20px}}

.a1_b::after, .a1_b::before{
   content: '';
   position: absolute;
   bottom: -8px;
   left: 0;
   right: 0;
   margin: auto;
   width: calc(100% - 40px);
   height: calc(100% - 40px);
   background: linear-gradient(0deg, var(--cl) -15%, var(--cm) 115%);
   z-index: -1;
   border-radius: 30px;
   opacity: .7;
}
.a1_b::before{
   bottom: -16px;
   width: calc(100% - 80px);
   height: calc(100% - 80px);
   z-index: -2;
   opacity: .5;
}
@media(max-width:320px){.a1_b::after, .a1_b::before{border-radius:20px}}

.a1_bt{
   position: relative;
   width: 100%;
   font-size: 18px;
   line-height: 26px;
   font-weight: 500;
   text-align: center;
   color: var(--wh);
}
.a1_bc{
   position: relative;
   width: 100%;
   height: 54px;
   margin-top: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.a1_bci{
   position: relative;
   width: 54px;
   height: 54px;
   margin: 0 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 14px;
   border: 1px solid var(--wh);
   font-size: 18px;
   color: var(--wh);
}
@media(max-width:320px){.a1_bci{width:44px;height:44px;border-radius:12px}}





















.a2{
   position: relative;
   width: 100%;
   margin-top: 60px;
}
.a2_c{
   position: relative;
   width: 100%;
   border-top: 1px solid var(--cl1);
   padding-top: 40px;
}
.a2_t{
   position: relative;
   width: 100%;
   font-size: 22px;
   line-height: 32px;
   font-weight: 500;
   text-align: center;
}
@media(max-width:375px){.a2_t{font-size:20px;line-height:28px}}
@media(max-width:320px){.a2_t{font-size:18px;line-height:24px}}

.a2_tm{
   position: relative;
   width: 100%;
   margin-top: 30px;
}

.a2_tmc{
   position: relative;
   width: 100%;
}
.a2_tmc::after, .a2_tmc::before{
   content: '';
   position: absolute;
   bottom: -8px;
   left: 0;
   right: 0;
   margin: auto;
   width: calc(100% - 40px);
   height: calc(100% - 40px);
   background: #84BF80;
   z-index: -1;
   border-radius: 30px;
   opacity: .7;
}
.a2_tmc::before{
   bottom: -16px;
   width: calc(100% - 80px);
   height: calc(100% - 80px);
   z-index: -2;
   opacity: .5;
}
@media(max-width:320px){.a2_tmc::after, .a2_tmc::before{border-radius:20px}}


.a2_tmc .container{
   position: relative;
   width: 100%;
   border-radius: 30px;
   overflow: hidden;
   -webkit-box-shadow: 0px 0px 10px -4px #84BF80;
   box-shadow: 0px 0px 10px -4px #84BF80;
   z-index: 1;
}
@media(max-width:320px){.a2_tmc .container{border-radius:20px}}
.plyr--video, .plyr__video-wrapper{
	background: linear-gradient(-45deg, var(--cm), var(--cl), var(--cm));
	background-size: 400% 400%;
	animation: gradient 2s ease infinite;
}

.a2_tm_b{
   position: relative;
   width: 100%;
   margin-top: 30px;
}
.a2_tm_b .btn{
   width: 100%;
   margin-top: 15px;
}










/*  */
.a3{
   position: relative;
   width: 100%;
   margin-top: 50px;
}
.a3_c{
   position: relative;
   width: 100%;
   border-top: 1px solid var(--cl1);
   padding-top: 40px;
}
.a3_t{
   position: relative;
   width: 100%;
}
.a3_t div{
   font-size: 24px;
   font-weight: 500;
   line-height: 32px;
   text-align: center;
}
@media(max-width:425px){.a3_t div{font-size:22px}}
@media(max-width:390px){.a3_t div{font-size:20px}}
@media(max-width:375px){.a3_t div{font-size:19px}}
@media(max-width:360px){.a3_t div{font-size:18px}}
@media(max-width:320px){.a3_t div{font-size:17px}}

.a3_t p{
   margin-top: 10px;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   text-align: center;
}
@media(max-width:425px){.a3_t p{font-size:15px}}
@media(max-width:390px){.a3_t p{font-size:14px}}
@media(max-width:360px){.a3_t p{font-size:13px}}
@media(max-width:320px){.a3_t p{font-size:12px}}

.a3_i{
   position: relative;
   width: 100%;
   margin-top: 20px;
   border-radius: 30px;
   -webkit-box-shadow: 0px 0px 10px -4px var(--cl);
   box-shadow: 0px 0px 10px -4px var(--cl);
   overflow: hidden;
}
@media(max-width:320px){.a3_i{border-radius:20px}}
.a3_i img{
   width: 100%;
   min-height: 240px;
}

.a3_b{
   position: relative;
   width: 100%;
   margin-top: 30px;
}
.a3_b .btn{width:100%}




/*  */
.a4{
   position: relative;
   width: 100%;
   margin-top: 50px;
}
.a4_c{
   position: relative;
   width: 100%;
   border-top: 1px solid var(--cl1);
   padding-top: 40px;
}
.a4_t{
   position: relative;
   width: 100%;
}
.a4_t div{
   font-size: 22px;
   font-weight: 500;
   line-height: 32px;
   text-align: center;
}
@media(max-width:390px){.a4_t div{font-size:20px}}

.a4_t p{
   margin-top: 10px;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   text-align: center;
}
@media(max-width:425px){.a4_t p{font-size:15px}}
@media(max-width:390px){.a4_t p{font-size:14px}}
@media(max-width:360px){.a4_t p{font-size:13px}}
@media(max-width:320px){.a4_t p{font-size:12px}}


.a4_b{
   position: relative;
   width: 100%;
   margin-top: 30px;
}
.a4_b .btn{width:100%}





/*  */
.a5{
   position: relative;
   width: 100%;
   margin-top: 50px;
}
.a5_c{
   position: relative;
   width: 100%;
   border-top: 1px solid var(--cl1);
   padding-top: 40px;
}
.a5_i{
   position: relative;
   width: 100%;
   border-radius: 30px;
   -webkit-box-shadow: 0px 0px 10px -4px #536A59;
   box-shadow: 0px 0px 10px -4px #536A59;
   overflow: hidden;
}
@media(max-width:320px){.a3_i{border-radius:20px}}
.a5_i img{
   width: 100%;
   min-height: 240px;
}

.a5_b{
   position: relative;
   width: 100%;
   margin-top: 30px;
}
.a5_b .btn{width:100%}







/*  */
.a6{
   position: relative;
   width: 100%;
   margin-top: 50px;
   padding-bottom: 80px;
}
.a6_c{
   position: relative;
   width: 100%;
   border-top: 1px solid var(--cl1);
   padding-top: 40px;
}
.a6_t{
   position: relative;
   width: 100%;
}
.a6_t div{
   font-size: 22px;
   font-weight: 500;
   line-height: 32px;
   text-align: center;
}
@media(max-width:390px){.a6_t div{font-size:20px}}

.a6_b{
   position: relative;
   width: 100%;
   margin-top: 30px;
}
.a6_b .btn{width:100%}




/*  */
.a7{
   position: relative;
   width: 100%;
   margin-top: 50px;
   padding-bottom: 80px;
}
.a7_c{
   position: relative;
   width: 100%;
   border-top: 1px solid var(--cl1);
   padding-top: 40px;

   display: flex;
   justify-content: center;
   align-items: center;
}
.a7_c a{
   color: var(--bl);
}










/*  */
.a22{padding-bottom:80px}
.a22 .a2_c{border:none}
.a22 .container{border-radius:20px}
.a22 .a2_tmc::after, .a22 .a2_tmc::before{display:none}
.a22 .btn{margin-top:5px}