/*  */



/*  */
.help{
   position: relative;
   width: 100%;
   padding-top: 160px;
}
.ub1_c .help{padding-top:0}
@media (max-width: 480px) {
   .ub1_c .help{padding-top:80px}
}

.hepl_c{
	width: 100%;
	position: relative;
}
.hepl_c > div {margin-bottom:15px}
.hepl_c h3, .hepl_c h5, .hepl_c p{padding:10px 0}
.hepl_c a{
	color: var(--cl);
	transition: var(--tm);
}
.hepl_c a:hover{color:var(--red)}
