/*  */




/*  */
.uc_u{
	position: relative;
	width: 100%;
	border-radius: 30px;
	border: 1px solid var(--gr3);
	transition: .3s;
	margin-bottom: 60px;
}

.uc_us{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 15px 30px;
	border-bottom: 1px solid var(--gr3);
}
.uc_usi{
	position: relative;
	width: 44px;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.uc_usn{
	position: relative;
	width: calc(100% - 44px);
}
.uc_usn input{
	width: 100%;
	height: 44px;
	min-height: 44px;
	font-size: 14px;
}
.uc_usn input::placeholder{font-size:14px}


/*  */
.uc_uc{
	position: relative;
	width: 100%;
}


.uc_ui, .uc_uh{
	position: relative;
	width: 100%;
	min-height: 74px;
	transition: .3s;
	padding: 15px 30px;
	border-bottom: 1px solid var(--gr3);
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.uc_ui:hover{background:var(--cm1)}
.uc_ui:last-child {
	min-height: calc(74px + 15px);
	padding-bottom: 15px;
	border-bottom: 0;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}
a.uc_ui{cursor:pointer}
@media (max-width: 500px) {
	.uc_ui{
		overflow: hidden;
		height: 154px;
	}
}


/*  */
.uc_uil{
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}
@media (max-width: 500px) {
	.uc_uil{
		padding-bottom: 30px;
		margin-bottom: 30px;
	}
}


/*  */
.uc_ui_right{
	position: relative;
	width: 38px;
	margin-right: 60px;
}
@media (max-width: 500px) {
	.uc_ui_right{
		position: absolute;
		bottom: 0;
	}
}

.uc_ui_right .form_im_toggle {width:38px}
.uc_ui_right .form_im_toggle_btn {
	width: 38px;
	height: 22px;
}
.uc_ui_right .form_im_toggle_btn:after {
  top: 3px;
  left: 3px;
  width: 16px;
  height: 16px;
}
.uc_ui_right .form_im_toggle_act .form_im_toggle_btn:after{left:calc(100% - 3px)}



/*  */
.uc_uiln{
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}
@media (max-width: 500px) {
	.uc_uiln{
		width: 100%;
	}
}

.uc_ui_icon{
	position: relative;
	width: 44px;
	height: 44px;
	margin-right: 30px;
	border-radius: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	box-shadow: var(--bx1);
	color: var(--cm);
	overflow: hidden;
	background-color: var(--wh);
	background-position: center center;
	background-size: 100% auto;
	background-repeat: no-repeat;
}

/*  */
.uc_uinu{
	position: relative;
	width: 220px;
	margin-right: 30px;
}
@media (max-width: 500px) {
	.uc_uinu{margin-right:0}
}

.uc_ui_name{
	position: relative;
	width: 220px;
	height: 24px;
	margin-right: 30px;
	line-height: 24px;
	font-size: 16px;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	white-space: break-spaces;
	transition: var(--tm);
	overflow: hidden;
}
.uc_uinu .uc_ui_name{margin-right:0}


/*  */
.uc_ui_phone, .uc_uin_cu{
	position: relative;
	width: 160px;
	height: 22px;
	margin-right: 30px;
	line-height: 22px;
	font-size: 16px;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	white-space: break-spaces;
	transition: var(--tm);
	overflow: hidden;
}
.uc_uinu .uc_ui_phone{
	font-size: 12px;
	line-height: 18px;
	margin-top: 3px;
	width: 100%;
}
@media (max-width: 500px) {
	.uc_uin_cu{display: none;}
}




/*  */
.uc_ui_ins_date{
	position: relative;
	width: 160px;
	margin-right: 30px;
}



/*  */
.uc_ui_number{
	position: relative;
	width: 50px;
	margin-right: 30px;
	font-size: 16px;
	text-align: center;
}







/*  */
.uc_uin_date{
	position: relative;
	width: calc(175px + 10px + 44px);
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
@media (max-width:500px){
	.uc_uin_date{
		width: 100%;
		justify-content: space-between;
	}
}
.uc_uin_date_c{
	position: relative;
	width: calc(100% - 44px - 10px);
	margin-right: 10px;
}
.uc_uin_date p{
	position: relative;
	width: 100%;
	height: 18px;
	line-height: 18px;
	font-size: 14px;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	white-space: break-spaces;
	transition: var(--tm);
	overflow: hidden;
}
@media (max-width: 500px) {
	.uc_uin_date_c p{
		display: none;
	}
}

.uc_uin_date_s{
	position: relative;
	width: 100%;
	margin-top: 4px;
	height: 18px;
	line-height: 18px;
	font-size: 13.4px;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	white-space: break-spaces;
	transition: var(--tm);
	overflow: hidden;
}


.uc_uin_date_pr{
	position: relative;
	width: 44px;
	height: 44px;
	font-size: 9px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.progress_ring{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

























/* .uc_uin p{
	position: relative;
	min-height: 22px;
	max-height: 44px;
	line-height: 22px;
	font-size: 18px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	white-space: break-spaces;
	transition: var(--tm);
	overflow: hidden;
} */



.uc_uib{
	position: relative;
	height: 100%;
	transition: .3s;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
@media (max-width: 500px) {
	.uc_uib{
		height: auto;
		width: 100%;
		display: block;
	}
}

.uc_uibo{
	position: relative;
	width: 44px;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 12px;
	transition: .3s;
	cursor: pointer;
}
.uc_uibo:hover{background:var(--cm1)}
@media (max-width: 500px) {
	.uc_uibo{
		position: absolute;
		cursor: text;
		right: 0;
		top: -60px;
	}
}


.uc_uibs{
	position: absolute;
	z-index: 3;
	top: 0;
	right: 59px;
	width: 320px;
	background: var(--wh);
	border-radius: 22px;
	-webkit-box-shadow: 4px 10px 84px rgb(0 0 0 / 5%);
	box-shadow: 4px 10px 84px rgb(0 0 0 / 5%);
	visibility: hidden;
	opacity: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;
}
.uc_ui:last-child .uc_uibs{
	top: auto;
	bottom: 0;
}
@media (max-width: 500px) {
	.uc_uibs{
		position: relative;
		opacity: 1;
		visibility: visible;
		right: auto;
		background: var(--tr);
		box-shadow: none;
		border-radius: 0;
		width: 100%;
	}
}

.uc_uibs_act .uc_uibs{
	visibility: visible;
	opacity: 1;
}


.uc_uib_i{
	cursor: pointer;
	transition: .3s;
	position: relative;
	width: 100%;
	height: 64px;
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid var(--gr1);
}
.uc_uib_i:first-child {
	padding-top: 10px;
	height: calc(10px + 54px);
}
.uc_uib_i:last-child{
	padding-bottom: 10px;
	height: calc(10px + 54px);
}
.uc_uib_del{color:var(--red)}
@media (max-width: 500px) {
	.uc_uib_i{
		padding: 0;
	}
}

.uc_uib_i div{
	position: relative;
	width: 34px;
	height: 34px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	font-weight: 400;
}
.uc_uib_i span{
	position: relative;
	display: block;
	width: calc(100% - 34px - 15px);
	font-size: 16px;
}
.uc_uibs_p span{
	padding-right: 15px;
	display: block;
}

.uc_uibs_p{
	position: relative;
	width: 106px;
	margin-right: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 44px;
}




/*  */
.slider-v3 {
	position: relative;
	display: block;
	width: 106px;
	height: 44px;
	cursor: pointer;
	border-radius: 24px;
	transition: 350ms;
	background: var(--gr);
}
.slider-v3::after {
	position: absolute; content:'';
	width: 30px;
	height: 30px;
	top: 8px;
	left: 8px;
	border-radius: 24px;
	transition:
	width 200ms ease-out,
	height 300ms 50ms ease-in, top 300ms 50ms ease-in, left 250ms 50ms ease-in, background 300ms ease-in,
	box-shadow 300ms ease-in;
	background: var(--wh);
	box-shadow: 0 0 0 24px var(--wh) inset;
}
.slider_act::after {
	width: 62px;
	height: 44px;
	top: 0;
	left: 44px;
	background: var(--cm);
	box-shadow: 0 0 0 0 var(--wh) inset;
}








 




.uc_uh{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
@media (max-width: 500px) {
	.uc_uh{display: none;}
}

.uc_uh > div{
	position: relative;
	width: 190px;
	font-size: 12px;
}
.uc_uh div.uc_uh_right{width:98px}
.uc_uh div.uc_uh_name{width:324px}
.uc_uh div.uc_uh_number{
	width: 50px;
	margin-right: 30px;
	text-align: center;
}